@charset "UTF-8";
/* CSS Document */
html {
	max-width: 100%;
	font-size: 62.5%;
}
body {
max-width: 100%;
	width: 100%;
	margin: 0 auto;
font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}


/*　共通*/
img {
	max-width: 100%;
    vertical-align: top;
}
div, dt, dd, input, select, textarea, ul, li, a, span {
    box-sizing: border-box;
}
.pconly  {
	display: block;
}
.sponly {
	display: none;
}


.main-area {
	text-align: center;
}

.inner {
    max-width: 1200px;
    margin: 0 auto 0;
	width: 92%;
	padding: 90px 0;
	text-align: center;
}
.inner-05ver {
	 max-width: 1200px;
    margin: 0 auto 0;
	width: 92%;
	padding: 90px 0;
	text-align: center;
	
} 


/*sec01のエリア*/
.sec01 .inner {
    max-width: 1000px;
} 
.sec01 {
	background: url("../img/bg-sec1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.pd-top {
	    padding-bottom: 70px;
}

/*sec02のエリア*/
.sec02 .inner {
    max-width: 1000px;
} 
.sec02 {
	background: url("../img/sec02-bgspr_pc.jpg") no-repeat center top /cover;
}

.img-ttl2 {
	width: 80%;
	margin: 0 auto;
}

.tab-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0px;
    width: 100%;
	margin: 0 auto;
	margin-top: 40px;
}

.tab-2 > label {
    flex: 1 1;
    order: -1;
    min-width: 70px;
    padding: .5em 1em;
    border-radius: 1.6rem 1.6rem 0 0;
    background-color: #fff;
    color: #1782b9;
   font-size: 3.2em;
    text-align: center;
    cursor: pointer;
	border: 2px solid #1782b9;
	font-weight: bold;
	
}

.tab-2 > label:hover {
    opacity: .8;
}

.tab-2 input {
    display: none;
}

.tab-2 > div {
    display: none;
    width: 100%;
    padding: 5.5em 7em;
    background-color: #fff;
	border-bottom: 2px solid #1782b9;
    border-left: 2px solid #1782b9;
	border-right: 2px solid #1782b9;
}

.tab-2 label:has(:checked) {
    opacity: 1;
	background: #1782b9;
	color: #fff;
	font-weight: bold;
}

.tab-2 label:has(:checked) + div {
    display: block;
}


/*sec03のエリア*/
.sec03 .inner {
    max-width: 1000px;
} 

.sec03 {
	background: url("../img/sec3-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*sec04のエリア*/
.sec04 .inner {
    max-width: 1000px;
} 

.text-img {
	width: 100%;
	text-align: center;
}

/*sec05のエリア*/

.sec05 .inner-05ver {
    max-width: 1200px;
} 
.ttl-img {
	margin: 30px auto;
	width: 43%;
}

.point-area {
	background: #f4f6f9;
	padding: 5rem 8rem;
	width: 100%;
	margin: 0 auto;

}

/*画像じゃないバージョン*/
.flex {
	display: flex;
}
.arrow_wrap {
	padding-bottom: 200px; /* 高さに合わせて調節してください。*/ 
    overflow: hidden;
}
.num1 {
	position: relative;
	
}
.num1::after {
 position: absolute;
    content: "";
    width: 2px;
    height: 0;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
    border-top: 41px solid #103365;
    left: -1px;
    top: 148px;

}
.num2 {
	position: relative;
	
}
.num2::after {
 position: absolute;
    content: "";
    width: 2px;
    height: 0;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
    border-top: 41px solid #143f7d;
    left: -1px;
    top: 176px;

}
.num3 {
	position: relative;
	
}
.num3::after {
 position: absolute;
    content: "";
    width: 2px;
    height: 0;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
    border-top: 41px solid #194d99;
    left: -1px;
    top: 207px;

}

.sec05 .num-box {
    align-items: center;
	background: #fff;
}
.sec05 .num-box2 {
    align-items: center;
	background: #fff;
	margin-top: 35px;
}
.sec05 .num-box3 {
    align-items: center;
	background: #fff;
	margin-top: 34px;
}
.sec05 .num-box4 {
    align-items: center;
	background: #fff;
	margin-top: 38px;
}

.sec05 .num-box .textarea {
	width: 90%;
    padding: 3.5rem;
    font-size: 1.8rem;
}

.sec05 .num-box2 .textarea {
	width: 90%;
    padding: 3.5rem;
    font-size: 1.8rem;
}

.sec05 .num-box3 .textarea {
	width: 90%;
    padding: 3.5rem;
    font-size: 1.8rem;
}

.sec05 .num-box4 .textarea {
	width: 90%;
    padding: 3.5rem;
    font-size: 1.8rem;
}

.sec03 .top-inner {
	padding-bottom: 0;
}


.textarea h2 { 
  font-size: 2.8rem;
  padding-bottom: 30px;
  text-align: left;
  color: #0068c0;
  font-weight: bold;
}
.textarea p { 
text-align: left;
color: #103365;
font-weight: bold;
line-height: 1.5;
}



/*sec06のエリア*/
.ttl-img2 {
	margin: 0 auto 60px;
	width: 28%;
}
.sec06 .inner {
	text-align: left;
}



footer {
	
	padding: 4rem 0;
}

.font-sizer {
	font-size: 2rem;
	padding: 0;
}

/* 追従 */
.floating {
	position: fixed;
	right: 2%;
	bottom: 4%;
	text-align: center;
	z-index: 999;
	max-width: 26rem;
	padding-top: 18.4rem;
}

.floating .contact-item .item {
	width: 92%;
	margin: 0 auto;
}
.floating .contact-item .c-btn {
	margin-top: 10px;
}
.floating .contact-item .c-btn a {
	display: block;
	color: #fff;
	background: #1a4198;
	font-size: 16px;
	font-weight: 600;
	padding: 16px;
	border-radius: 8px;
	transition: .3s;
	box-shadow: 0 4px 0 #0c295f;
}
.floating .contact-item .c-btn a:hover {
	transform: translateY(.4rem);
	box-shadow: none;
}
.floating .contact-item .tel-btn a {
	pointer-events: none;
}
.floating .cp-img {
	position: absolute;
	width: 110%;
    z-index: 99;
	top: 0;
	right: 0;
}
.floating .cp-img a {
	display: block;
}

@media screen and (max-width: 1440px) {  
	
	.num1::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 0;
    border-right: 43px solid transparent;
    border-left: 43px solid transparent;
    border-top: 41px solid #103365;
    left: 0px;
    top: 147px;
}
	.num2::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 0;
        border-right: 43px solid transparent;
        border-left: 43px solid transparent;
        border-top: 41px solid #143f7d;
        left: -1px;
    top: 175px;
}
	.num3::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 0;
    border-right: 43px solid transparent;
    border-left: 43px solid transparent;
    border-top: 41px solid #194d99;
    left: -1px;
    top: 209px;
}
	
}

@media screen and (max-width: 1024px) {  
	
	.num1::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 0;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
    border-top: 41px solid #103365;
    left: -2px;
    top: 144px;
}
	.num2::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
    border-top: 41px solid #143f7d;
    left: -1px;
    top: 172px;
}
	.num3::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
    border-top: 41px solid #194d99;
    left: -1px;
    top: 172px;
}
	.sec05 .num-box4 {
		margin-top: 25px;
	}
	
	.sec05 .num-box3 .textarea {
    width: 90%;
    padding: 2.5rem 3.5rem 2.5rem 3.5rem;
    font-size: 1.8rem;
}
	.sec05 .num-box2 {
    margin-top: 25px;
}
	.sec05 .num-box3 {
    margin-top: 25px;
}
	
	
}

@media screen and (max-width: 1023px) {
	
		 .sec05 .num-box {
        display: block;
		margin-top: 32px;
		width: 90%;
		margin: 22px auto;
    }	
	    .sec05 .num-box2 {
        display: block;
		 margin-top: 32px;
		width: 90%;
		margin: 22px auto;
    }
	    .sec05 .num-box3 {
        display: block;
		margin-top: 32px;
	    width: 90%;
		margin: 22px auto;
    }
	    .sec05 .num-box4 {
        display: block;   
		margin-top: 32px;
		width: 90%;
		margin: 22px auto;
    }
	.sec05 .num-box .textarea {
		margin: 0 auto;
		width: 80%;
	}
	.sec05 .num-box2 .textarea {
		margin: 0 auto;
		width: 80%;
	}
	.sec05 .num-box3 .textarea {
		margin: 0 auto;
		width: 80%;
	}
	.sec05 .num-box4 .textarea {
		margin: 0 auto;
		width: 80%;
	}
	
		.num1::after {
  display: none;
}
	.num2::after {
    display: none;
}
	.num3::after {
   display: none;
}
	.textarea h2 {
		text-align: center;
	}
	
	
	
	
}

@media screen and (max-width: 768px) {  
.num1::after {
 position: absolute;
    content: "";
    width: 2px;
    height: 0;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
    border-top: 41px solid #103365;
    left: -1px;
    top: 148px;
	display: none;

}
	
.num2::after {
 position: absolute;
    content: "";
    width: 2px;
    height: 0;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
    border-top: 41px solid #103365;
    left: -1px;
    top: 148px;
	display: none;

}
.num3::after {
 position: absolute;
    content: "";
    width: 2px;
    height: 0;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
    border-top: 41px solid #103365;
    left: -1px;
    top: 148px;
	display: none;

}
	
	 .sec05 .num-box {
        display: block;
		margin-top: 32px;
		width: 100%;
    }	
	    .sec05 .num-box2 {
        display: block;
		 margin-top: 32px;
		width: 100%;
    }
	    .sec05 .num-box3 {
        display: block;
		margin-top: 32px;
		width: 100%;
    }
	    .sec05 .num-box4 {
        display: block;   
		margin-top: 32px;
		width: 100%;
    }
	
	
	    .sec05 .num-box .textarea {
        margin: 0 auto;
        width: 60%;
        padding: 1.5rem 0.5rem 1.5rem;
        font-size: 1.6rem;

}
	
		.sec05 .num-box2 .textarea {
		margin: 0 auto;
		width: 60%;
	    padding: 1.5rem 0.5rem 1.5rem;
		font-size: 1.6rem;
	}
	.sec05 .num-box3 .textarea {
		margin: 0 auto;
		width: 60%;
	   padding: 1.5rem 0.5rem 1.5rem;
		font-size: 1.6rem;
	}
	.sec05 .num-box4 .textarea {
		margin: 0 auto;
		width: 60%;
	    padding: 1.5rem 0.5rem 1.5rem;
		font-size: 1.6rem;
	}
	
	.textarea h2 {
		text-align: center;
	}
	
	.floating {
		width: 30%;
	}
	
}



@media screen and (max-width: 750px) { 

	.pconly {
		display: none;
	}
	.sponly {
		display: block;
	}
	.inner {
		width: 90%;
		padding: 40px 0;
		margin: 0 auto;
	}
	.pd-top {
		padding-bottom: 40px;
	}
	.point-area {
		width: auto;
	}
	.sec01　{
		  padding: 16vw 0;
	}

	.img-ttl2 {
		width: 100%;
		margin-bottom: -10px;
	}
	.tab_content {
		padding: 15px 15px 0;
	}
	.tabs {
		border-radius: 1.4rem 1.6rem 0 0;
		background: #fff;
		padding-bottom: 20px;
	}
	.tab_item {
		height: 40px;
		font-size: 1.6rem;
		padding: 0;
		border-radius: 1.4rem 1.4rem 0 0;
		line-height: 47px;
	}
	.tabs input:checked + .tab_item {
		font-size: 1.6rem;
		padding: 0;
	}
	.text-img {
		margin: 0;
	}
	
	.point-area {
		    padding: 3.5rem 2rem;
	}
	.ttl-img {
    margin:0 auto;
    width: 80%;
	margin-bottom: 40px;
	
}
	.pt-botomm {
		padding-bottom: 15px;
	}
	.ttl-img2 {
		width: 60%;
	}
	
	.font-sizer {
    font-size: 1.4rem;
	padding: 0;
	
}
	.sec06 p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
	
	.tab-2 > label {
		font-size: 1.8rem;
		border-radius: 0.9rem 0.9rem 0 0;
	}
	
	.tab-2 > div {
		padding: 3.5em 1em;
	}	
	
	
	.sec06 .form-area {
		padding: 4rem 1.6rem;
	}	
	
	footer {
	padding: 4vw 0 50vw;
}
	
	.inner-05ver {
		width: 100%;
		padding: 40px 0;
	}
    .sec05 .num-box {
        display: block;
		margin-top: 32px;
    }	
	    .sec05 .num-box2 {
        display: block;
		 margin-top: 32px;
    }
	    .sec05 .num-box3 {
        display: block;
		    margin-top: 32px;
    }
	    .sec05 .num-box4 {
        display: block;   
		margin-top: 32px;
    }
	.sec05 .num-box .textarea {
		margin: 0 auto;
		width: 90%;
	   padding: 1.5rem 0.5rem 1.5rem;
		font-size: 1.4rem;
	}
	.sec05 .num-box2 .textarea {
		margin: 0 auto;
		width: 90%;
	    padding: 1.5rem 0.5rem 1.5rem;
		font-size: 1.4rem;
	}
	.sec05 .num-box3 .textarea {
		margin: 0 auto;
		width: 90%;
	   padding: 1.5rem 0.5rem 1.5rem;
		font-size: 1.4rem;
	}
	.sec05 .num-box4 .textarea {
		margin: 0 auto;
		width: 90%;
	    padding: 1.5rem 0.5rem 1.5rem;
		font-size: 1.4rem;
	}
	.textarea h2 {
		text-align: center;
		font-size: 1.8rem;
		padding-bottom: 10px;
	}
	.num {
		height: auto;
	}
	.textarea p {
		line-height: 1.5;
	}
	
.num1::after {
 position: absolute;
    content: "";
    width: 2px;
    height: 0;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
    border-top: 41px solid #103365;
    left: -1px;
    top: 148px;
	display: none;

}
	
.num2::after {
 position: absolute;
    content: "";
    width: 2px;
    height: 0;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
    border-top: 41px solid #103365;
    left: -1px;
    top: 148px;
	display: none;

}
.num3::after {
 position: absolute;
    content: "";
    width: 2px;
    height: 0;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
    border-top: 41px solid #103365;
    left: -1px;
    top: 148px;
	display: none;

}

.sec03 .btm-inner {
	width: 100%;
	padding-bottom: 80px;
}
	

}


/* フォーム */
.sec06 .holiday-message {
	font-size: 16px;
	text-align: center;
	margin-bottom: 40px;
	line-height: 1.6;
}
.sec06 .holiday-message .strong {
	font-weight: 600;
	font-size: 18px;
	color: #d30000;
}
.sec06 .form-area{
	background: #fff;
    border: 0.2rem solid #164d9d;
    padding: 16px 60px 60px;
	font-size: 18px;
}
.sec06 .c-form__content dl {
	display: flex;
	align-items: center;
	padding: 4rem 0;
	border-bottom: 1px solid #ccc;
}
.sec06 .c-form__content dl dt {
	width: 30%;
	display: flex;
	align-items: center;
	font-weight: 600;
	color: #103365;
}
.sec06 .c-form__content dl dt .require {
	font-size: 14px;
	background: #d30000;
	display: inline-block;
	color: #fff;
	padding: 4px 8px;
    border-radius: 4px;
	margin-left: 10px;
}
.sec06 .c-form__content dl dd {
	width: 70%;
}
.sec06 .c-form__content input[type="text"],
.sec06 .c-form__content input[type="email"],
.sec06 .c-form__content input[type="tel"],
.sec06 .c-form__content textarea {
	width: 100%;
	border: 1px solid #cccccc;
	background: #f9f9f9;
	border-radius: 6px;
	font-size: 18px;
	padding: 14px;
}
.sec06 .c-form__content .list li:not(:last-child) {
	margin-bottom: 12px;
}
.sec06 .c-form__content .list input[type="radio"] {
	display: none;
}
.sec06 .c-form__content .list label {
	position: relative;
	padding-left: 33px;
}
.sec06 .c-form__content .list label::before {
	content: '';
	width: 18px;
	height: 18px;
	border: 1px solid #ccc;
	border-radius: 10vw;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.sec06 .c-form__content .list label::after {
	content: '';
	width: 12px;
	height: 12px;
	border-radius: 10vw;
	background: #0eb4de;
	position: absolute;
	top: 50%;
	left: 4px;
	transform: translateY(-50%);
	opacity: 0;
}
.sec06 .c-form__content .list input[type="radio"]:checked + label::after {
	opacity: 1;
}
.sec06 .c-form .c-form__privacy {
	border: 1px solid #ccc;
	background: #f9f9f9;
	padding: 30px;
	margin: 40px 0;
}
.sec06 .c-form .c-form__privacy .privacy_ttl {
	font-size: 18px;
	color: #103365;
	font-weight: 600;
	margin-bottom: 16px;
}
.sec06 .c-form .c-form__privacy .privacy_txt {
	font-size: 14px;
	line-height: 1.6;
}
.sec06 .c-form .c-form__privacy .privacy_txt a {
	color: #00d1ea;
	font-weight: 600;
	text-decoration: underline;
}
.sec06 .c-form .c-form__privacy-txt01 {
	text-align: center;
}
.sec06 .c-form .c-form__privacy-txt01 .privacy-txt01 {
	margin-bottom: 40px;
}
.sec06 .c-form__submit {
	text-align: center;
	margin-top: 40px;
}
.sec06 .c-form__submit input {
	color: #fff;
	background: #0eb4de;
	font-size: 18px;
	font-weight: 600;
	border-radius: 6px;
	border: none;
	padding: 14px 80px;
	box-shadow: 0 .4rem 0 #098eb0;
	transition: .3s;
}
.sec06 .c-form__submit input:hover {
	opacity: .8;
}

@media screen and (max-width: 1024px) {
	.sec06 .form-area {
		font-size: 16px;
		padding: 1.6vw 4vw 6vw;
	}
	.sec06 .c-form__content dl {
		padding: 4vw 0;
	}
	.sec06 .c-form__content dl dt {
		width: 40%;
	}
	.sec06 .c-form__content dl dd {
		width: 60%;
	}
	.sec06 .c-form__content input[type="text"],
	.sec06 .c-form__content input[type="email"],
	.sec06 .c-form__content input[type="tel"],
	.sec06 .c-form__content textarea {
		font-size: 16px;
		padding: 1.4vw;
	}
	.sec06 .c-form .c-form__privacy {
		padding: 3vw 4vw;
		margin: 4vw 0;
	}
	.sec06 .c-form .c-form__privacy .privacy_ttl {
		font-size: 16px;
		margin-bottom: 2vw;
	}
	.sec06 .c-form .c-form__privacy-txt01 .privacy-txt01 {
		margin-bottom: 4vw;
	}
	.sec06 .c-form__submit {
		margin-top: 4vw;
	}
	.sec06 .c-form__submit input {
		font-size: 16px;
		padding: 1.4vw 8vw;
	}
}

@media screen and (max-width: 750px) {
	.sec06 .ttl-img2 {
		margin-bottom: 40px;
	}
	.sec06 .holiday-message {
		font-size: 14px;
	}
	.sec06 .holiday-message .strong {
		font-size: 16px;
	}
	.sec06 .form-area {
		font-size: 14px;
		padding: 2vw 4vw 8vw;
	}
	.sec06 .c-form__content dl {
		display: block;
		padding: 6vw 0;
	}
	.sec06 .c-form__content dl dt {
		width: 100%;
		margin-bottom: 4vw;
	}
	.sec06 .c-form__content dl dd {
		width: 100%;
	}
	.sec06 .c-form__content dl dt .require {
		font-size: 12px;
	}
	.sec06 .c-form__content input[type="text"],
	.sec06 .c-form__content input[type="email"],
	.sec06 .c-form__content input[type="tel"],
	.sec06 .c-form__content textarea {
		font-size: 14px;
		padding: 3vw;
	}
	.sec06 .c-form .c-form__privacy {
		padding: 4vw;
		margin: 6vw 0;
	}
	.sec06 .c-form .c-form__privacy-txt01 .privacy-txt01 {
		margin-bottom: 6vw;
	}
	.sec06 .c-form__submit {
		margin-top: 6vw;
	}
	.sec06 .c-form__submit input {
		padding: 3vw 12vw;
	}
}

/* thanks page */
.thanks-wrap {
	padding: 100px 0 0;
}
.thanks-wrap .inner {
	max-width: 1000px;
	border: 2px solid #164d9d;
	padding: 90px 20px 225px;
	font-size: 18px;
	line-height: 1.6;
	position: relative;
	color: #103365;
}
.thanks-wrap .thx-ttl {
	margin-bottom: 60px;
	font-size: 42px;
	font-weight: 600;
	color: #103365;
	display: inline-block;
	line-height: 1;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(255, 238, 94) 30%);
}
.thanks-wrap .thx-msg p:not(:last-of-type) {
	margin-bottom: 40px;
}
.thanks-wrap .inner .zummy {
	position: absolute;
	left: 50%;
	bottom: -12%;
	transform: translateX(-50%);
	width: 40%;
}
.page-thanks .top-btn {
	text-align: center;
	margin-top: 200px;
}
.page-thanks .top-btn a {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	background: #0eb4de;
	box-shadow: 0 4px 0 #098eb0;
	border-radius: 6px;
	padding: 14px 80px;
	transition: .3s;
}
.page-thanks .top-btn a:hover {
	opacity: .8;
}
.page-thanks .thx-msg .red {
	color: #d30000;
	font-weight: 600;
}

@media screen and (max-width: 1024px) {
	.thanks-wrap {
		padding: 10vw 0 0;
	}
	.thanks-wrap .inner {
		padding: 9vw 4vw 22vw;
	}
	.thanks-wrap .thx-ttl {
		font-size: 4.2vw;
		margin-bottom: 6vw;
	}
	.thanks-wrap .thx-msg p:not(:last-of-type) {
		margin-bottom: 4vw;
	}
	.thanks-wrap .inner .zummy {
		width: 20%;
	}
	.page-thanks .top-btn {
		margin-top: 20vw;
	}
	.page-thanks .top-btn a {
		font-size: 16px;
		padding: 2vw 8vw;
	}
}

@media screen and (max-width: 750px) {
	.thanks-wrap {
		padding: 14vw 0 0;
	}
	.thanks-wrap .inner {
		padding: 10vw 4vw 30vw;
		font-size: 14px;
	}
	.thanks-wrap .thx-ttl {
		font-size: 5vw;
		margin-bottom: 10vw;
	}
	.thanks-wrap .inner .zummy {
		width: 30%;
	}
	.page-thanks .top-btn {
		margin-top: 30vw;
	}
	.page-thanks .top-btn a {
		font-size: 14px;
		padding: 4vw 12vw;
	}

	.floating {
		width: 92%;
		max-width: none;
		padding-top: 20vw;
		right: auto;
		left: 50%;
		bottom: 1%;
		transform: translateX(-50%);
	}
	.floating .contact-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.floating .contact-item .item {
		width: 49%;
		margin: 0;
	}
	.floating .contact-item .c-btn a {
		padding: 3.6vw 3vw;
		font-size: 14px;
	}
	.floating .contact-item .tel-btn a {
		display: block;
		pointer-events: visible;
	}
	.floating .cp-img {
		width: 102%;
	}
}

/* 250228 ご利用開始までの流れ */
.sec05 .tab-list {
	display: flex;
}
.sec05 .tab-list li {
	color: #103365;
	width: 50%;
	font-size: 24px;
	font-weight: 600;
	background: #fff;
	border-radius: 18px 18px 0 0;
	border: 2px solid #103365;
	padding: 24px 14px;
}
.sec05 .tab-list li.select {
	color: #fff;
	background: #103365;
}
.sec05 .tab-list li:hover {
	cursor: pointer;
}
.sec05 .tab-cont.hide {
	display: none;
}
@media screen and (max-width: 1024px) {
	.sec05 .tab-list li {
		font-size: 20px;
		padding: 16px 12px;
	}
}
@media screen and (max-width: 750px) {
	.sec05 .tab-list li {
		font-size: 14px;
		padding: 14px 10px;
		border-radius: 10px 10px 0 0;
	}
}


/* メッシュWiFi */
.sec-mesh {
	background: url(../img/mesh-bg.jpg) no-repeat center center /cover;
}
.sec-mesh .ttl {
	margin-bottom: 40px;
}

/* 250908 FAQ */
.sec-faq {
	font-size: 1.6rem;
}
.sec-faq .inner {
	padding-top: 0;
	text-align: left;
}
.sec-faq .ttl {
	text-align: center;
	margin-bottom: 4rem;
}
.sec-faq .acMenu {
	color: #fff;
	font-size: 2.8rem;
	font-weight: 600;
	background: #0068c0;
	padding: 1.6rem 2rem;
	display: flex;
	align-items: center;
	position: relative;
}
.sec-faq .acMenu:hover {
	cursor: pointer;
}
.sec-faq .acMenu::after {
	content: '';
	border-top: .8rem solid #fff;
	border-right: .7rem solid transparent;
	border-left: .7rem solid transparent;
	position: absolute;
	top: 50%;
	right: 1.8rem;
	transform: translateY(-50%);
	transition: .3s;
}
.sec-faq .acMenu.open::after {
	transform: translateY(-50%) rotate(180deg);
}
.sec-faq .acMenu .ico {
	margin-right: 2rem;
	display: inline-block;
}
.sec-faq .faq-container {
	display: none;
}
.sec-faq .faq-item {
	padding-bottom: 3rem;
	margin-bottom: 4rem;
	border-bottom: .1rem solid #025cc2;
}
.sec-faq .faq-item:first-of-type {
	margin-top: 4rem;
}
.sec-faq .faq-item:last-of-type {
	margin-bottom: 0;
}
.sec-faq .question {
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 2.4rem;
	padding-left: 4.4rem;
	position: relative;
}
.sec-faq .answer {
	padding-left: 4.4rem;
	position: relative;
	line-height: 1.4;
}
.sec-faq .question::before {
	content: '';
	width: 3.2rem;
	height: 3.2rem;
	background: url(../img/q-ico.png) no-repeat center center /cover;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.sec-faq .answer::before {
	content: '';
	width: 3.2rem;
	height: 3.2rem;
	background: url(../img/a-ico.png) no-repeat center center /cover;
	position: absolute;
	top: -.5rem;
	left: 0;
}

@media screen and (max-width: 1024px) {
	.sec-faq .inner {
		padding-bottom: 0;
	}
	.sec-faq .acMenu {
		font-size: 2.8vw;
	}
	.sec-faq .acMenu .ico {
		width: 8%;
		margin-right: 3vw;
	}
	.sec-faq .faq-item {
		padding-bottom: 4vw;
		margin-bottom: 4vw;
	}
	.sec-faq .faq-item:first-of-type {
		margin-top: 6vw;
	}
	.sec-faq .question {
		margin-bottom: 2.4vw;
	}
}
@media screen and (max-width: 750px) {
	.sec-faq {
		font-size: 1.4rem;
	}
	.sec-faq .ttl {
		margin-bottom: 8vw;
	}
	.sec-faq .faq-item:first-of-type {
		margin-top: 8vw;
	}
	.sec-faq .faq-item {
		margin-bottom: 8vw;
		padding-bottom: 8vw;
	}
	.sec-faq .acMenu {
		font-size: 4.5vw;
		padding: 3vw 4vw;
	}
	.sec-faq .acMenu::after {
		right: 1rem;
	}
	.sec-faq .acMenu .ico {
		width: 12%;
		margin-right: 4vw;
	}
	.sec-faq .question {
		font-size: 1.4rem;
		margin-bottom: 5vw;
		padding-left: 10vw;
	}
	.sec-faq .answer {
		padding-left: 10vw;
	}
	.sec-faq .question::before {
		width: 2.7rem;
		height: 2.7rem;
	}
	.sec-faq .answer::before {
		width: 2.7rem;
		height: 2.7rem;
		top: 0;
	}
}